<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <!-- Default test environment variables -->
        <env name="JANUS_TRANSPORT" value="zmq" force="false"/>
        <env name="JANUS_ADMIN_ADDRESS" value="tcp://localhost:7889" force="false"/>
        <env name="JANUS_ADMIN_SECRET" value="janusoverlord" force="false"/>
        <env name="JANUS_ADMIN_SOCKET" value="/tmp/janus_admin.sock" force="false"/>
        <env name="JANUS_ADMIN_HOST" value="localhost" force="false"/>
        <env name="JANUS_ADMIN_PORT" value="7088" force="false"/>
        <env name="JANUS_ADMIN_BASE_PATH" value="/admin" force="false"/>
        <env name="JANUS_ADMIN_SECURE" value="false" force="false"/>
        <env name="SKIP_INTEGRATION_TESTS" value="false" force="false"/>
    </php>
</phpunit>
